@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  position: absolute;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
}

.purple {
  background-color: rgb(203, 28, 238);
}

.green {
  background-color: rgb(55, 109, 226);
}

.blue {
  background-color: rgb(106, 207, 247);
}

.canvas {
  animation-duration: 2s;
  animation-name: animate-fade;
  animation-delay: 0;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
